.header {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 10;
}

.main {
    padding: 50px;
}

.footer {
    text-align: center;
    background-color: white;
}

.toggleBtn {
    display: block;
}
.menuItems {
    display: none;
}

@media only screen and (min-width: 992px) {
    .toggleBtn {
        display: none;
    }
    .menuItems {
        width: 480px;
        display: block;
    }
}
