@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

main {
    padding: 24px;
    min-height: calc(100vh - 128px);
}

.secHeader {
    text-align: center;
    margin-bottom: 20px;
}

.horizontalLine {
    margin-bottom: 4px;
    height: 4px;
    background: #000;
    width: 100%;
}
.infoText {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.spaceT {
    padding-top: 24px;
}

.ant-menu-horizontal {
    border-bottom: none;
}

.ant-layout-header {
    padding-inline: 24px;
}

.products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}

@media only screen and (min-width: 576px) {
    main {
        padding: 50px;
    }
    .spaceT {
        padding-top: 50px;
    }
    .ant-layout-header {
        padding-inline: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1280px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
    }
}
