.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.selectProduct {
    margin-top: 16px;
    display: flex;
    gap: 20px;
}

.selectProductDetails {
    width: 100%;
}

@media only screen and (min-width: 576px) {
    .selectProductDetails {
        width: 576px;
    }
}
