.containerFluid {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}

.containerFluid img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 576px) {
    .containerFluid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    .containerFluid img {
        width: 448px;
        height: 256px;
    }

    .containerFluid {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 96px;
    }
}
